<%= form_with model: [book, book_comment], local: false do |f| %>
  <%= f.text_area :comment, rows:'3', class: "form-control", id: "comment_textarea" %>
  <button type="submit">
    <i class="fa-regular fa-paper-plane mt-2"></i>
  </button>
<% end %>