<div class="container mt-5">
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <!--画像が設定されてなければデフォルトのイメージを表示-->
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.get_profile_image, size:"100x100" %>
      <% else %>
        <%= image_tag "no_image.jpg" %>
      <% end %>
    </div>
    <div class="col-lg-6 p-3 col-md-5 p-3 text-center mt-3">
      <p>name: <%= @user.name %></p><br>
    </div>
  </div>
  <div class="row mt-5">
    <p>introduction: <strong><%= @user.introduction %></strong><p>
  </div>
</div>