<%= image_tag 'home.webp', class:"picture" %>

<div class="blur d-none d-md-block">
  <h2 class="mt-3 ml-3">
    <strong>YourBook</strong>によって読書ライフをより良いモノへ
  </h2>
</div>
<p class="d-md-none custom-text text-center mt-2"><strong>YourBook</strong>によって読書ライフをより良いモノへ</p>
<p class="text-center">こちらのサイトではあなたが読んだ本にコメントしたり、読書の記録を残すことが可能です。</p>
<%= link_to 'ゲストログイン (機能をお試しいただけます)', users_guest_sign_in_path, method: :post, class:"btn btn-success ml-5 mb-3" %>
